# Copy this file to app-config.local.yaml to override default app settings.
# Example with GitHub integration referencing external secrets file.

integrations:
  github:
    - host: github.com
      apps:
        - $include: ../extra-files/github-app-credentials.yaml

app:
  title: Red Hat Developer Hub
  baseUrl: ${BASE_URL}
  branding:
    # If using a different logo, replace these lines with your own image(s)
    # fullLogo: data:image/svg+xml;base64,your-image-goes-here==
    # - or -
    # fullLogo: 
    #   dark: data:image/svg+xml;base64,your-image-in-dark-mode-goes-here==
    #   light: data:image/svg+xml;base64,your-image-in-light-mode-goes-here==
    # iconLogo: data:image/svg+xml;base64,your-image-goes-here==
    fullLogoWidth: ${FULL_LOGO_WIDTH}
    theme:
      light:
        primaryColor: ${PRIMARY_LIGHT_COLOR}
        headerColor1: ${HEADER_LIGHT_COLOR_1}
        headerColor2: ${HEADER_LIGHT_COLOR_2}
        navigationIndicatorColor: ${NAV_INDICATOR_LIGHT_COLOR}
      dark:
        primaryColor: ${PRIMARY_DARK_COLOR}
        headerColor1: ${HEADER_DARK_COLOR_1}
        headerColor2: ${HEADER_DARK_COLOR_2}
        navigationIndicatorColor: ${NAV_INDICATOR_DARK_COLOR}

