# Example dynamic plugin override config.
# Copy to dynamic-plugins.override.yaml to activate local plugins.

includes:
  - dynamic-plugins.default.yaml
  # Uncomment the following line (and the corresponding 'red-hat-developer-hub-backstage-plugin-marketplace*' plugins)
  # to enable dynamic plugins installation using the Extensions UI.
  # - /dynamic-plugins-root/dynamic-plugins.extensions.yaml

# # Below you can add custom dynamic plugins, including local ones.

# # EXAMPLES:
# plugins: 
# Functioning example using Tech Radar, uncomment to use
  #Tech Radar frontend plugin
  # - package: ./dynamic-plugins/dist/backstage-community-plugin-tech-radar
  #   disabled: false

  # Tech Radar backend plugin. Required if you want to customize the tech radar URL 
  # (see the `techRadar.url` app-config property).
  # - package: ./dynamic-plugins/dist/backstage-community-plugin-tech-radar-backend-dynamic
  #   disabled: false

# # loading plugin from host directory
#   - package: ./local-plugins/todo
#     disabled: false
#     pluginConfig:
#       dynamicPlugins:
#         frontend:
#           backstage-community.plugin-todo:
#             mountPoints:
#               - mountPoint: entity.page.todo/cards
#                 importName: EntityTodoContent
#             entityTabs:
#               - path: /todo
#                 title: Todo
#                 mountPoint: entity.page.todo

# # loading image from container image
#   - package: oci://docker.io/tomaskral/simple-chat:v0.0.1!internal-backstage-plugin-simple-chat
#     disabled: false
#     pluginConfig:
#       dynamicPlugins:
#         frontend:
#             internal.backstage-plugin-simple-chat:
#               appIcons:
#                 - name: chatIcon
#                   importName: ChatIcon
#               dynamicRoutes:
#                 - path: /simple-chat
#                   importName: SimpleChatPage
#                   menuItem:
#                     text: 'Simple Chat'
#                     icon: chatIcon

# # loading image from tarball URL
#   - disabled: false
#     package: >-
#         https://github.com/redhat-developer/rhdh-plugin-export-backstage-community-plugins/releases/download/v1.2.0/backstage-community-plugin-tech-insights-dynamic-0.3.28.tgz
#     integrity: sha512-cNHXSwPa5fOi2BcNVSe7tfdLyM0JY988CE5t+P9p/XlboP1QpQbMcLBmqPrlXZdpedAyp81Zz3yPQYGnPuy9ww==
#     pluginConfig:
#       dynamicPlugins:
#         techInsights:
#           factRetrievers:
#             entityOwnershipFactRetriever:
#               cadence: '*/15 * * * *'
#               lifecycle: { timeToLive: { weeks: 2 } }
#             entityMetadataFactRetriever:
#               cadence: '*/15 * * * *'
#               lifecycle: { timeToLive: { weeks: 2 } }
#             techdocsFactRetriever:
#               cadence: '*/15 * * * *'
#               lifecycle: { timeToLive: { weeks: 2 } }
#             apiDefinitionFactRetriever:
#               cadence: '*/15 * * * *'
#       lifecycle: { timeToLive: { weeks: 2 } }

# # loading plugin from directory inside the RHDH container
#   - package: ./dynamic-plugins/dist/backstage-community-plugin-rbac
#     disabled: true
#     pluginConfig:
#       dynamicPlugins:
#         frontend:
#           backstage-community.plugin-rbac:
#             mountPoints:
#               - mountPoint: admin.page.rbac/cards
#                 module: RbacPlugin
#                 importName: RbacPage
#                 config:
#                   layout:
#                     gridColumn: "1 / -1"
#                     width: 100vw
#                   props:
#                     useHeader: false
#             dynamicRoutes:
#               - path: /admin/rbac
#                 module: RbacPlugin
#                 importName: RbacPage

# # Uncomment the following two plugins to enable dynamic plugins installation via the Extensions UI
# - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-marketplace
#   disabled: false
#   pluginConfig:
#     dynamicPlugins:
#       frontend:
#         red-hat-developer-hub.backstage-plugin-marketplace:
#           translationResources:
#             - importName: marketplaceTranslations
#               ref: marketplaceTranslationRef
#               module: Alpha
#           appIcons:
#             - name: pluginsIcon
#               importName: PluginsIcon
#           dynamicRoutes:
#             - path: /extensions
#               importName: DynamicMarketplacePluginRouter
#               menuItem:
#                 icon: pluginsIcon
#                 text: Extensions
#                 textKey: menuItem.extensions
#           menuItems:
#             extensions:
#               parent: default.admin
# - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic
#   disabled: false
#   pluginConfig:
#     extensions:
#       installation:
#         enabled: true
#         saveToSingleFile:
#           # NOTE: Default path. If you want to change this path, make sure to choose a path that is writable by the main RHDH container user.
#           # Otherwise, the extensions backend plugin will not be able to save the dynamic plugins configuration.
#           # Also add the path in the 'includes' section of this file, so the plugins installed via the Extensions UI can be loaded at runtime.
#           file: /opt/app-root/src/dynamic-plugins-root/dynamic-plugins.extensions.yaml
