# Developer Lightspeed dynamic plugin override config.
# Copy to dynamic-plugins.override.yaml to activate dynamic plugins.

includes:
  - dynamic-plugins.default.yaml
plugins:
  - package: 'oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/red-hat-developer-hub-backstage-plugin-lightspeed:bs_1.45.3__1.2.3'
    disabled: false
    pluginConfig:
      lightspeed:
        # OPTIONAL: Custom users prompts displayed to users
        # If not provided, the plugin uses built-in default prompts
        prompts:
          - title: 'Getting Started with Red Hat Developer Hub'
            message: Can you guide me through the first steps to start using Developer Hub
              as a developer, like exploring the Software Catalog and adding my
              service?
      dynamicPlugins:
        frontend:
          red-hat-developer-hub.backstage-plugin-lightspeed:
            translationResources:
              - importName: lightspeedTranslations
                module: Alpha
                ref: lightspeedTranslationRef
            dynamicRoutes:
              - path: /lightspeed
                importName: LightspeedPage
            mountPoints:
              - mountPoint: application/listener
                importName: LightspeedFAB
              - mountPoint: application/provider
                importName: LightspeedDrawerProvider
              - mountPoint: application/internal/drawer-state
                importName: LightspeedDrawerStateExposer
                config:
                  id: lightspeed
              - mountPoint: application/internal/drawer-content
                importName: LightspeedChatContainer
                config:
                  id: lightspeed
                  priority: 100
  - package: 'oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/red-hat-developer-hub-backstage-plugin-lightspeed-backend:bs_1.45.3__1.2.2'
    disabled: false
