name: CI

on:
  push:
    branches:
      - main
      - release-1.[0-9]+
  pull_request:
    branches:
      - main
      - release-1.[0-9]+

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Lint
      # Based on https://github.com/zavoloklom/docker-compose-linter/tree/main?tab=readme-ov-file
      run: |
        npx --yes dclint .

  test:
    strategy:
      fail-fast: false
      matrix:
        tool:
          - docker
          - podman
        userConfig:
          - "false"
          - "true"
        composeConfig:
          - name: "default"
            cliArgs: ""
          - name: "corporate-proxy"
            cliArgs: "-f compose.yaml -f compose-with-corporate-proxy.yaml"
          - name: "dynamic-plugins-root"
            cliArgs: "-f compose.yaml -f compose-dynamic-plugins-root.yaml"
          - name: "orchestrator-workflow"
            cliArgs: "-f compose.yaml -f orchestrator/compose.yaml"
          - name: "developer-lightspeed-minimal"
            cliArgs: "-f compose.yaml -f developer-lightspeed/compose.yaml"
          - name: "developer-lightspeed"
            cliArgs: "-f compose.yaml -f developer-lightspeed/compose-with-ollama.yaml"

    name: "${{ matrix.tool }} compose - ${{ matrix.composeConfig.name }}${{ matrix.userConfig == 'true' && ' - user config' || '' }}"
    runs-on: ubuntu-latest
    env:
      # The default corporate proxy image is located on registry.redhat.io, which requires authentication.
      CORPORATE_PROXY_IMAGE: docker.io/ubuntu/squid:latest

    steps:
    - uses: actions/checkout@v6

    - name: Install tool
      if: ${{ matrix.tool == 'podman' }}
      run: |
        sudo apt update
        sudo apt install -y podman podman-docker
        curl -LO https://github.com/docker/compose/releases/download/v2.40.0/docker-compose-linux-x86_64
        chmod +x docker-compose-linux-x86_64
        sudo mv docker-compose-linux-x86_64 /usr/local/bin/docker-compose
        sudo systemctl enable --now podman.socket
        systemctl --user enable --now podman.socket

    - name: Display versions
      run: |
        echo "*** ${{ matrix.tool }} version ***"
        ${{ matrix.tool }} version
        echo
        echo "*** ${{ matrix.tool }} compose version ***"
        ${{ matrix.tool }} compose version

    - name: Configure DOCKER_HOST for Podman
      if: ${{ matrix.tool == 'podman' }}
      run: echo "DOCKER_HOST=unix://$(podman info --format '{{.Host.RemoteSocket.Path}}')" >> $GITHUB_ENV

    - name: Compose config
      run: ${{ matrix.tool }} compose ${{ matrix.composeConfig.cliArgs }} config

    - name: Add user-specific configuration
      if: ${{ matrix.userConfig == 'true' }}
      env:
        # https://docs.github.com/en/actions/how-tos/monitor-workflows/enable-debug-logging#enabling-runner-diagnostic-logging
        LOG_LEVEL: ${{ vars.ACTIONS_RUNNER_DEBUG == 'true' && 'debug' || 'info' }}
      run: |
        # Custom .env file
        cat <<EOF > .env
        LOG_LEVEL=${{ env.LOG_LEVEL }}
        ROARR_LOG=true
        NODE_DEBUG=fetch

        GITHUB_APP_APP_ID=123456
        GITHUB_APP_CLIENT_ID=MY_GITHUB_APP_CLIENT_ID
        GITHUB_APP_CLIENT_SECRET=MY_GITHUB_APP_CLIENT_SECRET
        GITHUB_APP_WEBHOOK_SECRET=MY_GITHUB_APP_WEBHOOK_SECRET
        GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nxxx\n-----END RSA PRIVATE KEY-----" # notsecret

        EOF

        # Custom dynamic-plugins.override.yaml
        cat <<EOF > configs/dynamic-plugins/dynamic-plugins.override.yaml
        includes: [dynamic-plugins.default.yaml]
        plugins:
        - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic
          disabled: false
        - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-bulk-import
          disabled: false
        EOF

        # Custom extra files
        cp -vr configs/extra-files/github-app-credentials.example.yaml configs/extra-files/github-app-credentials.yaml

        # Custom app-config.local.yaml
        cp -vr configs/app-config/app-config.local.example.yaml configs/app-config/app-config.local.yaml

        # Custom users.override.yaml
        cp configs/catalog-entities/users.override.example.yaml configs/catalog-entities/users.override.yaml

        # Custom components.override.yaml
        cp configs/catalog-entities/components.override.example.yaml configs/catalog-entities/components.override.yaml

    - name: Create dynamic plugins directory
      if: ${{ matrix.composeConfig.name == 'dynamic-plugins-root' }}
      run: |
          mkdir -p dynamic-plugins-root

    - name: Start app
      run: |
        ${{ matrix.tool }} compose ${{ matrix.composeConfig.cliArgs }} up --detach --quiet-pull
        ${{ matrix.tool }} compose ${{ matrix.composeConfig.cliArgs }} ps

    - name: Wait for HTTP 200 response from homepage
      run: |
        max=50
        i=0
        echo "Waiting for localhost to respond with status code 200..."
        until curl -i --head --fail http://localhost:7007; do
          i=$((i+1))
          if [ "$i" -ge "$max" ]; then
            echo "[$(date)] Max retries reached. Exiting. Take a look at the logs in the step below."
            exit 1
          fi
          echo "($i/$max) [$(date)] Waiting for http://localhost:7007 to return HTTP 200..."
          sleep 10
        done
        echo "[$(date)] RHDH is ready"
        curl -i --insecure http://localhost:7007

    - name: curl from RHDH Container (for troubleshooting)
      if: failure()
      run: |
        ${{ matrix.tool }} exec rhdh curl -i --head --fail http://localhost:7007

    - name: Compose logs
      if: always()
      run: |
        for svc in $(${{ matrix.tool }} compose ${{ matrix.composeConfig.cliArgs }} config --services | sort); do
          echo "*** $svc ***"
          ${{ matrix.tool }} compose ${{ matrix.composeConfig.cliArgs }} logs --timestamps "$svc" || true
          echo "************"
          echo
        done

    - name: Tear down
      if: always()
      run: |
        ${{ matrix.tool }} compose ${{ matrix.composeConfig.cliArgs }} ps || true
        ${{ matrix.tool }} compose ${{ matrix.composeConfig.cliArgs }} down --volumes || true
